@model FirePorker.Models.PokerGame

@{
    ViewBag.Title = "Create Game";
}

<h2>Create</h2>


<form method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Your name</label>
            <div class="col-md-10">
                <input type="text" name="HostName" class="form-control" value="@Model?.Host?.Name" autocomplete="name" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Game name</label>
            <div class="col-md-10">
                <input type="text" name="Name" class="form-control" value="@Model?.Name" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Game description (optional)</label>
            <div class="col-md-10">
                <input type="text" name="Description" class="form-control" value="@Model?.Description" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="checkbox" name="HostCanVote" id="HostCanVote" value="true" @(Model?.HostCanVote == true ? "checked" : "") />
                <label for="HostCanVote">Allow host to vote</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
