@{
    ViewBag.Title = "Home";
}
<br/>

<p align="center">
    <img src="~/Content/Cover.jpg" style="width: 450px;"/>
    <br/><br/>
    <a href="@Url.Action("Create", "Game")" class="btn btn-default">Play Now</a>
</p>
