body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
<hr />
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo{
    height: 40px;
    margin: 5px;
}

.label-as-badge {
    border-radius: 1em;
    font-size: 100%;
    padding: .2em .5em .2em;
    min-width: 40px;
}

.card_visible {
    width: 106px;
    height: 150px;
    border: 7px solid #DDC178;
    background-color: #521713;
    color: #DDC178;
    font-size: 36pt;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
}

.cover {
    width: 550px;
}

.card_back {
    height: 150px;
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
    .cover {
        width: 400px;
    }

    .card_visible {
        width: 106px;
        height: 150px;
        border: 7px solid #DDC178;
        background-color: #521713;
        color: #DDC178;
        font-size: 36pt;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-radius: 5px;
    }

    .card_back {
        height: 150px;
    }
}