@{
    ViewBag.Title = "Home";
}
<br/>

<p align="center">
    <img src="~/Content/Cover.jpg" class="cover"/>
</p>

<p align="center">
    <a href="@Url.Action("Create", "Game")" class="btn btn-default">Play Now</a>
</p>

<p align="center">
    There are <b>@ViewBag.GameCount</b> game(s) online.
</p>